.banner {
    img {
    background: #f7f7f7;
    border-radius: 25px;
    position: absolute;
    
    }
    h1{
        color: #ffffff;
        top: 31px;
        left: 36px;
        position: relative;
        font-size: 24px;
    }
}
