.card {
  position: relative;
  border-radius: 12px;
  width: 100%;
  height: 255px;
  overflow: hidden;
  cursor: pointer;
  @media screen and (min-width: 767px) {
    height: 340px;
    width: 30%;
  }

  h3 {
    position: absolute;
    color: white;
    bottom: 10px;
    left: 5px;
    font-size: 14px;
  }
}
