@use "../variables/" as *;

.carousel {
  height: 255px;
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  .leftarrow,
  .rightarrow {
    position: absolute;
    width: 11px;
    height: 20px;
    top: 50%;
    z-index: 2;
    cursor: pointer;
  }
  .leftarrow {
    left: 5px;
  }
  .rightarrow {
    right: 5px;
  }
  p {
    position: absolute;
    z-index: 2;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    color: $color-tertiary;
  }
}
.bulletPoints {
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: center;
  top: 20px;
  left: 50%;
  gap: 10px;
  transform: translateX(-50%);
  span {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: white;
    opacity: 0.8;
    transition: all 0.3s ease-in-out  ;

    &.active {
      opacity: 1;
      transform: scale(1.3);
    }
  }
}
