.lodging__wrapperinfosHost {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.lodging__host {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}
lodging__infos{
  display: flex;
  flex-direction: row;
}

