
.lodging__tags {
  display: flex;
  flex-wrap: wrap;
  }
  
  .itemsTags {

  list-style: none;
  }
  .tag::before {
    content: "";
    display: inline-block;
    width: 84px;
    height: 18px; 
    // background-color: $color-primary; 
    border-radius: 5px;
  }