@use "../../styles/variables/variables" as *;

.about {
  width: 100%;
  margin: 0 auto;
.banner{
  height: 223px;
}
  @media screen and (min-width: 768px) {
    max-width: 1440px;
    margin: 0 auto;
  }
}
.about__collapse {
  padding: 10px 10px 0 10px;
  max-width: 1023px;
  @media screen and (min-width: 768px) {
    max-width: 1440px;
    margin: 0px 59px 0;
  }

 
  
}
