@use "../../styles/variables/variables" as *;

.wapperLodging {
  color: $color-primary;
  height: 255px;
  margin: 20px 20px 20px 20px;

  font-weight: 500;
  h1{
    font-size: 18px;
    margin-top: 15px;

  }
  
  h2{
    font-size: 14px;

  }
  .imageC {
    border-radius: 10px;
    
ul{
  display: flex;
  flex-direction: row;
}
@media screen and (min-width:768px) {
  border-radius: 25px;
}
}
.lodging__tag{
   background-color: $color-primary;
 }
  
}
