@use "../../styles/variables/variables" as *;
.lodging__page {
  color: $color-primary;
  h1 {
    font-weight: 500;
    font-size: 18px;
    margin-top: 10px;
  }

  h2 {
    margin-top: 5px;
    font-size: 14px;
    line-height: 19.96px;
    font-weight: 500;
  }
  @media screen and (min-width: 768px) {
    max-width: 1440px;
    margin: 0 auto;
    font-size: 36px;
  }
}
.lodging__carousel {
  width: 100%;
  margin: 0 auto;
  @media screen and (min-width: 768px) {
    max-width: 1240px;
    .carousel {
      height: 415px;
      border-radius: 25px;
      .leftarrow,
      .rightarrow {
        width: 46.68px;
        height: 79.2px;
      }
    }
  }
  .lodging__wrapper {
    padding: 20px;
    margin: 0 auto;
  }
}
.lodging__wrapperHost {
  display: flex;
  flex-direction: row;
}
.lodging__hostInfos {
  display: flex;
  margin: 0 0 8px 0;
  gap: 1rem;
  align-items: center;
  h2 {
    justify-content: flex-end;
    max-width: 93px;
    padding-left: 10px;
  }
}

.lodging__hostImg {
  border-radius: 50%;
  background-color: #c4c4c4;
  width: 32px;
  height: 32px;

  img {
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
  }
}
.lodging__stars {
  display: flex;
  i {
    display: flex;
    gap: 1rem;
    text-align: center;
  }
}
