@use "../../styles/variables/variables" as *;
.lodging__page{
  color: $color-primary;
h1{
  font-weight: 500;
  font-size: 36px;
  margin-top: 10px;
  }
h2{
  margin-top: 5px;
  font-size: 18px;
}
}
.lodging__carousel {
  padding: 20px;
  width: 100%;
  margin: 0 auto;
  @media screen and (min-width: 767px) {
    max-width: 1240px;
  }
  .lodging__wrapper{
    padding: 20px;
    margin: 0 auto;
  }
}
.lodging__hostImg {
  border-radius: 50%;
  background-color: #c4c4c4;
  width: 32px;
  height: 32px;
  img {
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
  }

}

.lodging__tags {
  display: flex;
  border-radius: 5px;
  padding :0.2em  ;
font-size: 10px;
  ol{
    display: flex;
    gap: 1rem;
    text-align: center;
  }
  
  li{
    height: 18px;
    width: 84px;
    border-radius: 5px;
  background-color: $color-primary;
  color: $color-tertiary;
  list-style-type: none;
}
}
