@use "../../styles/variables/variables" as *;

.error-page {
    color: $color-primary;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100vh;
    width: 100vw;
    text-align: center;
    h1 {
    font-size: 96px;
    font-weight: 700;
    }
    p {
    align-items: center;
    max-width: 260px;
    }
    a {
    font-size: 14px;
    position: absolute;
    bottom: 133px;
    }
}
